ul {
  list-style-type: none;
}

.item {
  flex-basis: 150px;
  /*overflow: hidden;*/
  /*min-width: 50px;*/
  max-width: 500px;
  background-color: #484848;
  margin: 10px;
  padding: 10px;
  font-size: 0.8rem;
}

.item-title {
  font-size: 1.0rem;
}

.item-address {
  color: grey;

}

.item-activity {
  margin-top: 10px;
}

.item-activity-label, .item-activity-value {
  display: inline-block;
}

.item-activity-value {
  color: orange;
  margin-left: 5px;
}

.item-description {
  color: grey;
  margin-top: 5px;
}
