html,
body,
#root,
.App {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-flow: column;
}

.App-header, .App-footer {
  flex: 0 0 auto;
  background-color: #272822;
  color: white;
  text-align: center;
}

.App-content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.App-header {
}

.App-footer {
  padding: 10px;
  font-size: 13px;
}



.Filters {
  background-color: #333;
  color: white;
  padding: 10px;
}

.ElementContainer {
  margin-left: 150px;
  margin-right: 150px;
}


// Olds

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}