html,
body,
#root,
.app {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header, .app-footer {
  flex: 0 0 auto;
  background-color: #272822;
  color: white;
  text-align: center;
}

.app-content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.app-header {
}

.app-footer {
  padding: 10px;
  font-size: 13px;
}


.filters-container {
  background-color: #333;
  color: white;
  padding: 10px;
  height: 200px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter {
  flex: 1 1 400px;
  background-color: #555;
  margin: 4px;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

.elements-container {
  margin-left: 150px;
  margin-right: 150px;
}

.element {
  background-color: #DDD;
  margin: 10px;
  padding: 10px;
}


// Olds

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}